* {
  background-color: black;
  color: white;
}

.wrapper {
  background-color:lemonchiffon;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

input {
  width: 20%;
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

li {
  list-style-type: none;
}

/* Amazon Cards Demo */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.container {
  padding: 10px;
  background-color: azure;
}

.card {
  padding: 10px;
}

img, a {
  display: block;
}