/*  {
  margin: 0;
  padding: 0;
} */

ul, h1, h3, p {
  background-color: darkblue;
}

body {
  background-color: darkslategray;
  /* width: 700px; */
}

ul {
  height: 300px;
}
li {
  border: 1px solid red;
  display: inline-block;
  font-size: larger;
  /* 10px top and bottom, 20px left and right */
  padding: 10px 20px; 

  margin: 20px;
}

a {
  color:aliceblue;
}

h1, h3 {
  display: inline;
  margin: 50px;
}

a, img {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.box-1 {
  background-color: indianred;
  padding: 20px;
  display: inline-block;
  margin: 0px 20px;
  width: 400px;
  /* width: 200px;
  height: 200px; */
}
